# Federated Learning framework
flwr==1.8.0

# Core ML & Data processing
torch==2.2.2
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
scipy==1.13.0

# Explainability (SHAP) for server-side feedback
shap==0.44.1

# Generative modeling for tabular data (TVAE on client side)
sdv==1.9.0